<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<div class=page>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
		 <h2>Closing stock price infomation</h2>
		  <form id='userinput'  method='post'  action='result'>
		   Enter stock ticker:<br>
           <input type="text" name="stock_tkr"><br>
		    <p>
           <input type='submit' value='Submit' />
            </p>
          </form> 
		</div>
		</div>
	</body>
</html>
